@font-face {
    font-family: 'Cascadia Code';
    src: url('https://cdn.jsdelivr.net/npm/@fontsource/cascadia-code/files/cascadia-code-400-normal.woff2') format('woff2');
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Cascadia Code";
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: linear-gradient(to bottom, #fff, #f2f2f2);
}

#navbar{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    place-items: center;
    margin: 0;
    font-size: 24px;
    width: 100vw;
    height: 64px;
    border-style: none none solid none;
    & input{
        width: 50px;
        height: 30px;
    }
    #site input{
        width: 100px;
    }
}

#game-table-container {
margin-top: 20px;
    & table{
        width: 100%;
        border-collapse: collapse;
        & form {
            display: flex;
            align-items: center;
            width: 25vw;
            flex-grow: 1;
            & .letter-input {
                width: fit-content;
                height: 40px;
                margin-right: 10px;
                text-align: center;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 18px;
            }
            & .letter-input:focus {
                outline: none;
                border-color: #4CAF50;
                box-shadow: 0 0 5px rgba(76, 175, 80, 0.6);
            }
            & .game-table-submit{
                width: clamp(20px, 80px, 80px);
                height: 40px;
                font-size: medium;
            }
        }
        & .correct-place{
            width: clamp(40px, 200px, 400px);
            background-color: #4CAF50;
            color: white;
        }
        & .wrong-place{
            width: clamp(40px, 200px, 400px);
            background-color: #ff9800;
            color: white;
        }
    }
}

th,
td {
padding: 10px;
text-align: center;
}

th {
background-color: #f2f2f2;
}


#gameOver-container{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 50%;
	width: 100vw;
	height: max-content;
	justify-content: center;
	align-content: center;
	font-size: 30px;
	text-align: center;
}

#scoreboard-container{
    display: flex;
    & table{
        text-align: center;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: baseline;
        font-size: 18px;
    }
}
