{% extends 'layout.html' %}

{% block body %}
<span id="game-table-container">
<table>
    <thead>
    <tr>
        <th>
            Playing field
        </th>
        <th>
            Correct Place
        </th>
        <th>
            Incorrect place
        </th>
    </tr>
</thead>
<tbody>
    {% for i in numOfRows %}
    <tr>
        <td>
            {% if i == enabledInput %}
            <form name="letter-form-{{i}}" id="letter-form-{{i}}" action="/verify" method="post" disabled>
            {% else %}
            <form name="letter-form-{{i}}" id="letter-form-{{i}}" action="/verify" method="post">
            {% endif %}
            {% for j in numOfInputs %}
            {% if i == enabledInput %}
            {% if j == 0 %}
            <input autofocus class="letter-input" name="letter-input-{{i}}-{{j}}" min="1" max="8" type="number" placeholder="Guess code">
            {% else %}
            <input class="letter-input" name="letter-input-{{i}}-{{j}}" min="1" max="8" type="number" placeholder="Guess code">
            {% endif %}
            {% elif i < enabledInput%}
            <input placeholder="{{allSubmittedCodes[i][j]}}" disabled class="letter-input" name="letter-input-{{i}}-{{j}}" min="1" max="8" type="number" placeholder="Guess code">
            {% else %}
            <input disabled class="letter-input" name="letter-input-{{i}}-{{j}}" min="1" max="8" type="number" placeholder="Guess code">
            {% endif %}
            {% endfor %}
            {% if i == enabledInput %}
            <input type="submit" value="Check" id="{{i}}" class="game-table-submit">
            {% endif %}
            </form>
        </td>
        <td class="correct-place">
            {{correctPlaces[i]}}
        </td>
        <td class="wrong-place">
            {{wrongPlaces[i]}}
        </td>
    </tr>
    
    {% endfor %}
</tbody>
</table>
</div>


{% endblock body %}