<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/main.js" defer></script>
    <title>Excel game</title>
</head>
<body>
    <section id="main-section">
            <nav id="navbar">
            <span id="reset">
                    <form action="/reset">
                        <input type="submit" value="Reset">
                    </form>
                </span>
                
                <span id="scoreboard">
                    <form action="/scoreboard">
                        <input type="submit" value="Scoreboard">
                    </form>
                </span>
                
                <span id="login">
                {% if loginName == None %}
                <form action="/login" method="post" name="login-form" id="login-form">
                    <input type="text" name="login-name" placeholder="Name">
                    <input type="submit" value="Login">
                </form>
                {% else %}
                <form action="/logout" method="post" id="login-form">
                    <span id="login-name">{{loginName}}</span>
                    <input type="submit" value="Logout">
                </form>
                {% endif %}
            </span>
        </nav>
        {% block body %}
    
        {% endblock body %}
    </section>
</body>
</html>